---
---

<footer class="container">
  <div class="icon-container">
    <a class="icon" href="#">
      <svg
        class="github-icon"
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M15 0C6.71652 0 0 6.88393 0 15.3817C0 22.1786 4.29911 27.9375 10.2589 29.9732C11.0089 30.1138 11.2835 29.6384 11.2835 29.2299C11.2835 28.8616 11.2701 27.8973 11.2634 26.6116C7.09152 27.5424 6.20759 24.5491 6.20759 24.5491C5.52455 22.7746 4.54018 22.2991 4.54018 22.2991C3.1808 21.3415 4.64063 21.3616 4.64063 21.3616C6.14732 21.4688 6.9375 22.9487 6.9375 22.9487C8.27679 25.2991 10.4464 24.6228 11.3036 24.2277C11.4375 23.2366 11.8259 22.5536 12.2545 22.1719C8.92634 21.7835 5.42411 20.4643 5.42411 14.5714C5.42411 12.8906 6.0067 11.5179 6.96429 10.4464C6.81027 10.058 6.29464 8.49107 7.11161 6.375C7.11161 6.375 8.37054 5.95982 11.2366 7.94866C12.4353 7.60714 13.7143 7.43973 14.9933 7.43304C16.2656 7.43973 17.5513 7.60714 18.75 7.94866C21.6161 5.95982 22.8683 6.375 22.8683 6.375C23.6853 8.49107 23.1696 10.058 23.0156 10.4464C23.9732 11.5246 24.5558 12.8973 24.5558 14.5714C24.5558 20.4777 21.0469 21.7768 17.7054 22.1585C18.2411 22.6339 18.7232 23.5714 18.7232 25.0045C18.7232 27.0603 18.7031 28.721 18.7031 29.2232C18.7031 29.6317 18.971 30.1138 19.7344 29.9598C25.7076 27.9308 30 22.1719 30 15.3817C30 6.88393 23.2835 0 15 0Z"
          fill="#C6C6C6"></path>
      </svg>
    </a>

    <a class="icon" href="#">
      <svg
        class="youtube-icon"
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M12.9656 18.0553L18.0581 15L12.9656 11.9447V18.0553Z" fill="#C6C6C6"></path>
        <path
          d="M15 0C6.71625 0 0 6.71531 0 15C0 23.2847 6.71625 30 15 30C23.2838 30 30 23.2838 30 15C30 6.71625 23.2838 0 15 0ZM23.145 15.6572C23.145 17.0634 22.9819 18.4697 22.9819 18.4697C22.9819 18.4697 22.8225 19.6678 22.335 20.1938C21.7153 20.8856 21.0216 20.8894 20.7028 20.9306C18.4228 21.105 15 21.1106 15 21.1106C15 21.1106 10.7644 21.0694 9.46125 20.9363C9.09844 20.8641 8.28562 20.8847 7.665 20.1938C7.17656 19.6669 7.01813 18.4697 7.01813 18.4697C7.01813 18.4697 6.855 17.0644 6.855 15.6572V14.3391C6.855 12.9328 7.01813 11.5275 7.01813 11.5275C7.01813 11.5275 7.1775 10.3294 7.665 9.80156C8.28469 9.10875 8.97844 9.105 9.29719 9.06563C11.5762 8.88938 14.9963 8.88938 14.9963 8.88938H15.0037C15.0037 8.88938 18.4238 8.88938 20.7028 9.06563C21.0206 9.105 21.7153 9.10875 22.335 9.80063C22.8234 10.3284 22.9819 11.5266 22.9819 11.5266C22.9819 11.5266 23.145 12.9328 23.145 14.3391V15.6572Z"
          fill="#C6C6C6"></path>
      </svg>
    </a>

    <a class="icon" href="#">
      <svg
        class="linkedin-icon"
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M15 0C23.2787 0 30 6.72129 30 15C30 23.2787 23.2787 30 15 30C6.72129 30 0 23.2787 0 15C0 6.72129 6.72129 0 15 0ZM10.3103 23.4299V11.7158H6.41596V23.4299H10.3103ZM24.3506 23.4299V16.7124C24.3506 13.1142 22.4295 11.4404 19.8676 11.4404C17.8019 11.4404 16.8766 12.5764 16.3585 13.3744V11.7158H12.4651C12.5167 12.8149 12.4651 23.4299 12.4651 23.4299H16.3584V16.8879C16.3584 16.5378 16.3836 16.1878 16.4868 15.9375C16.7678 15.2382 17.4089 14.5137 18.4846 14.5137C19.8928 14.5137 20.457 15.5883 20.457 17.1624V23.4299H24.3506ZM8.38945 6.06738C7.05703 6.06738 6.1865 6.94336 6.1865 8.0915C6.1865 9.21545 7.03055 10.1156 8.33789 10.1156H8.36303C9.72094 10.1156 10.5662 9.21545 10.5662 8.0915C10.541 6.94336 9.721 6.06738 8.38945 6.06738Z"
          fill="#C6C6C6"></path>
      </svg>
    </a>
  </div>
  <p>&copy All right reserved - Thgear27</p>
</footer>

<style>
  footer {
    padding: 1rem 0;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .icon-container {
    display: flex;
    gap: 10px;
  }

  .icon {
    transition: transform 0.3s ease;
  }

  .icon:hover {
    transform: translateY(-3px);
  }
</style>
