---
---

<div class="posts-list">
  <a href="/posts/post-1/">
    <div class="post">
      <h1 class="post__title">Post de prueba</h1>
      <p class="post__date">2 May 2023</p>
    </div>
  </a>
</div>

<style>
  .post-list {
    display: flex;
    flex-direction: column;
  }

  .post__title, .post__date {
    font-weight: var(--fw-regular);
  }

  .post {
    border-top: 2px solid rgb(70, 70, 70);
    padding: 15px 0;

    font-size: var(--fs-postlist);

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
</style>
