---
import PostItem from "./PostItem.astro";

const { posts } = Astro.props;
---

<div class="posts-list">
  {
    posts.map((post) => (
      <PostItem postURL={post.url} postTitle={post.frontmatter.title} postPubDate={post.frontmatter.pubDate} />
    ))
  }
</div>

<style>
  .post-list {
    display: flex;
    flex-direction: column;
  }
</style>
